* {
    font-family: 'Playfair Display', serif;
    text-align: center;
    box-sizing: content-box;
    background-color: rgb(241, 241, 241);
}

body {
    margin: 0;
}

p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    line-height: 1.5; 
}

img {
    max-width: 100%;
}

figure {
    
    width: 60%;
    margin: 0 auto;
    padding: 15px 0;
    background-color: rgb(219, 219, 219);
}

#profile_photo {
    width:200px;
    height: 200px;
    border-radius: 50%;
}

ul {
    list-style: none;
    padding: 0;
}

/********* general classes *********/

ul li,
nav a,
.project_container,
#portfolio,
#portfolio p,
#portfolio h2,
#portfolio h3,
#contact,
#contact p,
#contact h2,
#contact strong {
    background-color: #fff;
}

.cs {
    color: rgb(0, 3, 160);
}

.ht {
    color: rgb(196, 0, 0);
}


/*********** NAV ***********/

 ul li {
    margin: 7px 10px;   
} 

a {
    padding: 10px 15px;;
    text-decoration: none;
    display: block;
}

a,
a:visited {
    color: #000;
}

nav a:hover {
    background-color: #000;
    color: #fff;
}

/********  HOME SECTION **************/

#presentation {
    margin: 10px 0;
    padding: 10px 30px;
}

/********  Portfolio SECTION **************/

.project_container,
#skills,
#contact,
footer {
    width: 90%;
    margin: 0 auto;
}

#portfolio {
    padding: 15px 0;
}

#portfolio p {
    font-family: 'Poiret One', cursive;
}

/********* Skills ***********/

#skills {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skills h2 {
    flex-basis: 100%
}

.skills_container {
    flex-basis: 45%;
    font-weight: 800;
    color: #fff;
    border: 5px solid #fff;
}

.skills_container p {
    display: inline-block;
    font-size: 1.6rem;
}

.skills_container:nth-child(-n+3) {
    margin-bottom: 20px;
}

.ht_color,
.ht_color p {
    background-color: rgb(228, 92, 38);
}

.cs_color,
.cs_color p {
    background-color: rgb(0, 3, 160);
}

.sass_color,
.sass_color p {
    background-color: rgb(211, 147, 147)
}

.js_color,
.js_color p {
    background-color: rgb(192, 6, 6);
}

/********* Contact ***********/

#contact {
    margin: 30px 0 0;
    padding: 0 5%;
}

#contact p:last-child {
    margin-bottom: 0;
    padding-bottom: 20px;
}


/********  footer **************/

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
}

#footer_nav {
    display: none;
    
}



/**************** MEDIA QUERIES ***************/

@media (min-width: 768px) {
    
ul {
    display: flex;
    justify-content: center;
}
    

nav a {
    background-color: rgb(241, 241, 241);
}

#profile_section {
    display: flex;
    flex-direction: row-reverse; 
    padding: 10px 0 45px;
    margin-top: 30px;
}

#presentation {
    flex-shrink: 2;
    margin:0;
    padding-top: 0;
    padding-bottom: 0;
}

#intro_text {
    margin: 0;
    text-align: left;
}

#portfolio {
    display:flex;
    flex-wrap: wrap;
    padding: 15px;
}

#portfolio h2 {
    flex-basis: 100%;
}

.project_container {
    flex-basis: 45%;
}

#contact p {
    padding: 15px 21px 20px;
}

#toogle_link {
    display: none;
}

#footer_nav {
    display: block;
    padding:  0;
    margin: 3.5px;
}

}

@media (min-width: 1024px) {
    
    #home {
        display: flex;
        justify-content: space-between;
    }

    #presentation{
        padding-left: 0;
    }

    #portfolio {
        padding: 0; 
    }

    #home,
    #portfolio,
    #profile_section {
        width: 90%;
        margin: auto;
    }

    .project_container {
        flex-basis: 30%;
    }

    .skills_container {
        flex-basis: 20%;
        margin-top: 20px;
    }

    .skills_container:nth-child(-n+3){
        margin-bottom: 0;
    }

    footer p {
        padding-left: 0;
    }

    #footer_nav {
        margin-right: 0;
    }
}